---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Learnovate">
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Universities</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora, rerum iure deleniti doloremque officia porro veniam! Molestias debitis nostrum cupiditate incidunt nihil soluta blanditiis, corporis dolore commodi quisquam. Libero, nemo?</p>
    </div>
  </div>
</div>
</Layout>
