---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Student - Dashboard">
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <h1>Ravi Teja</h1>
      <p class="mb-0">Looking for Bachelor's program</p>

      <h5 class="mt-5">Your Counsellor</h5>
      <div class="card mb-5">
        <div class="card-body">
          <h4>Hemanth</h4>
          <p class="text-muted">Hemanth's short bio.</p>
          <p class="mb-0">+91 9999988888</p>
          <p class="mb-0">hemanth@gmail.com</p>
        </div>
      </div>

      <h5 class="mt-5">Your Applications</h5>
      <div class="card mb-5">
        <div class="card-body">
          <small>#67496</small>
          <h4>Andhra University</h4>
          <p>B.Tech + M.Tech dual degree program, 6 years.</p>
          <ul class="list-group mb-5">
            <li class="list-group-item list-group-item-success">
              <div class="d-flex justify-content-between align-items-center">
                <p class="mb-0">Documents submission</p>
                <p class="mb-0 badge bg-success">Done</p>
              </div>
              
              <small>Remarks</small>
              <ul class="list-group mb-4">
                <li class="list-group-item">
                  <p class="mb-0">Documents are not scanned properly. Request for resubmission.</p>
                  <small>Nov 15, 2022.</small>
                </li>
                <li class="list-group-item">
                  <p class="mb-0">Documents reuploaded.</p>
                  <small>Nov 16, 2022.</small>
                </li>
              </ul>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-warning">
              <p class="mb-0">Pre-placement Letter</p>
              <p class="mb-0 badge bg-warning">Pending</p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <p class="mb-0">Offer Letter</p>
              <p class="mb-0"></p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <p class="mb-0">Placement</p>
              <p class="mb-0"></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <h5>Profile Details</h5>
      <ul class="list-group mb-5">
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success">
          <p class="mb-0">National ID</p>
          <p class="mb-0 badge bg-success">Submitted</p>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success">
          <p class="mb-0">12th</p>
          <p class="mb-0 badge bg-success">Submitted</p>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <p class="mb-0">UG</p>
          <p class="mb-0">Not submitted</p>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <p class="mb-0">PG</p>
          <p class="mb-0">Not submitted</p>
        </li>
      </ul>
      <div>
        <small>Your files</small> <br>
        <a href="#" class="btn btn-dark w-100">Upload/Access Your Files</a>
      </div>

      <div class="mt-5">
        <small>Explore</small> <br>
        <a href="#" class="btn btn-dark w-100">View Universities</a>
        <a href="#" class="btn btn-dark w-100 mt-3">View Government Scholarships</a>
      </div>

      <div class="mt-5">
        <div class="mb-4">
          <small>Country</small>
          <p class="mb-0">Egypt</p>
        </div>

        <div class="mb-4">
          <small>Phone</small>
          <p class="mb-0">+91 9491444339</p>
        </div>

        <div class="mb-4">
          <small>Email</small>
          <p class="mb-0">raviteja@learnovate.org.in</p>
        </div>

        <div class="mb-4">
          <small>Looking for</small>
          <p class="mb-0">Bachelor Degree</p>
        </div>
      </div>
    </div>
  </div>
</div>
</Layout>
