---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Learnovate">

    <section>
      <div class="container-fluid">
          <div class="accordion accordion-flush" id="accordionFlushExample">

            <!-- Academic Information start -->

            <div class="accordion-item border border-1 ">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  ACADEMIC INFORMATION 
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"    data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">

                  <div class="border border-1 p-3">
                    <div class="d-flex">
                      <h5 class="col-8">Qualification</h5>
                      <h5 class="col-2">Percentage</h5>
                      <h5 class="col-2">Total Percentage</h5>
                    </div>
                    <div class="d-flex pt-3">
                      <div class="col-8">
                        <div>
                          <p class="m-0">Higher Secondary / Class XII / A level / Equivalent Qualification Score
                          </p>
                        </div>
                        <div class="d-flex gap-3 p-3">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              No
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Result Awaited
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">
                        <p>00</p>
                      </div>
                      <div class="col-2">
                        <p>00</p>
                      </div>
                    </div>
                  </div>

                  <div class="border border-1 p-3">
                    <div class="d-flex pt-3">
                      <div class="col-8">
                        <div>
                          <p class="m-0">Diploma Score</p>
                        </div>
                        <div class="d-flex gap-3 p-3">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              No
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Result Awaited
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">
                        <p>00</p>
                      </div>
                      <div class="col-2">
                        <p>00</p>
                      </div>
                    </div>
                  </div>
                  

                  <div class="border border-1 p-3">
                    <div class="d-flex pt-3">
                      <div class="col-8">
                        <div>
                          <p class="m-0">Graduation Score</p>
                        </div>
                        <div class="d-flex gap-3 p-3">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              No
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Result Awaited
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">
                        <p>00</p>
                      </div>
                      <div class="col-2">
                        <p>00</p>
                      </div>
                    </div>
                  </div>

                  <div class="border border-1 p-3">
                    <div class="d-flex pt-3">
                      <div class="col-8">
                        <div>
                          <p class="m-0">Post Graduation Score</p>
                        </div>
                        <div class="d-flex gap-3 p-3">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              No
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Result Awaited
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">
                        <p>00</p>
                      </div>
                      <div class="col-2">
                        <p>00</p>
                      </div>
                    </div>
                  </div>

                  <div class="border border-1 p-3">
                    <div class="d-flex pt-3">
                      <div class="col-8">
                        <div>
                          <p class="m-0">M.Phil. Score</p>
                        </div>
                        <div class="d-flex gap-3 p-3">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              No
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Result Awaited
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">
                        <p>00</p>
                      </div>
                      <div class="col-2">
                        <p>00</p>
                      </div>
                    </div>
                  </div>


                  <!-- <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Qualification</th>
                        <th scope="col">Percentage</th>
                        <th scope="col">Total Percentage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row">Higher Secondary / Class XII / A level / Equivalent Qualification Score
                          <div class="d-flex gap-3 p-3">
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                              <label class="form-check-label" for="flexRadioDefault1">
                                Yes
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                              <label class="form-check-label" for="flexRadioDefault2">
                                No
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                              <label class="form-check-label" for="flexRadioDefault2">
                                Result Awaited
                              </label>
                            </div>
                          </div>
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td scope="row">Diploma Score
                          <div class="d-flex gap-3 p-3">
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                              <label class="form-check-label" for="flexRadioDefault1">
                                Yes
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                              <label class="form-check-label" for="flexRadioDefault2">
                                No
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                              <label class="form-check-label" for="flexRadioDefault2">
                                Result Awaited
                              </label>
                            </div>
                          </div>
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td scope="row">Graduation Score
                          <div class="d-flex gap-3 p-3">
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                              <label class="form-check-label" for="flexRadioDefault1">
                                Yes
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                              <label class="form-check-label" for="flexRadioDefault2">
                                No
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                              <label class="form-check-label" for="flexRadioDefault2">
                                Result Awaited
                              </label>
                            </div>
                          </div>
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td scope="row">Post Graduation Score
                          <div class="d-flex gap-3 p-3">
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                              <label class="form-check-label" for="flexRadioDefault1">
                                Yes
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                              <label class="form-check-label" for="flexRadioDefault2">
                                No
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                              <label class="form-check-label" for="flexRadioDefault2">
                                Result Awaited
                              </label>
                            </div>
                          </div>
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td scope="row">M.Phil. Score
                          <div class="d-flex gap-3 p-3">
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                              <label class="form-check-label" for="flexRadioDefault1">
                                Yes
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                              <label class="form-check-label" for="flexRadioDefault2">
                                No
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                              <label class="form-check-label" for="flexRadioDefault2">
                                Result Awaited
                              </label>
                            </div>
                          </div>
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                     
                    </tbody>
                  </table> -->


                </div>
              </div>
            </div>

            <!-- Academic Information end -->


            <!-- Aditional Exam start -->

            <div class="accordion-item border border-1">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  ADITIONAL EXAM
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">

                  <div class="border border-1 p-3">
                    <div class="d-flex">
                      <h5 class="col-8"></h5>
                      <h5 class="col-4">Marks Obtained</h5>
                    </div>
                    <div class="d-flex pt-3">
                      <div class="col-8">
                        <div>
                          <p class="m-0">Do you have GRE score?</p>
                        </div>
                        <div class="d-flex gap-3 p-3">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              No
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Appearing, Results awaited
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center align-item-center col-4">
                        <input type="text" class="w-100 rounded-5 ps-3 border border-2 bg-light" placeholder="GRE" style="height: 45px;">
                      </div>
                    </div>
                  </div>
                  
                  <div class="border border-1 p-3">
                    <div class="d-flex pt-3">
                      <div class="col-8">
                        <div>
                          <p class="m-0">Do you have GMAT score?</p>
                        </div>
                        <div class="d-flex gap-3 p-3">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              No
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Appearing, Results awaited
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center align-item-center col-4">
                        <input type="text" class="w-100 rounded-5 ps-3 border border-2 bg-light" placeholder="GMAT" style="height: 45px;">
                      </div>
                    </div>
                  </div>
                  
                  <div class="border border-1 p-3">
                    <div class="d-flex pt-3">
                      <div class="col-8">
                        <div>
                          <p class="m-0">Do you have SAT Level I score?</p>
                        </div>
                        <div class="d-flex gap-3 p-3">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              No
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Appearing, Results awaited
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center align-item-center col-4">
                        <input type="text" class="w-100 rounded-5 ps-3 border border-2 bg-light" placeholder="SAT Level l" style="height: 45px;">
                      </div>
                    </div>
                  </div>

                  <div class="border border-1 p-3">
                    <div class="d-flex pt-3">
                      <div class="col-8">
                        <div>
                          <p class="m-0">Do you have SAT Level II score? (3 Subjects Score)</p>
                        </div>
                        <div class="d-flex gap-3 p-3">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              No
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Appearing, Results awaited
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center align-item-center col-4">
                        <input type="text" class="w-100 rounded-5 ps-3 border border-2 bg-light" placeholder="SAT Level ll" style="height: 45px;">
                      </div>
                    </div>
                  </div>

                  <div class="border border-1 p-3">
                    <div class="d-flex pt-3">
                      <div class="col-8">
                        <div>
                          <p class="m-0">Do you have TOEFL score?</p>
                        </div>
                        <div class="d-flex gap-3 p-3">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              No
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Appearing, Results awaited
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center align-item-center col-4">
                        <input type="text" class="w-100 rounded-5 ps-3 border border-2 bg-light" placeholder="TOFEL" style="height: 45px;">
                      </div>
                    </div>
                  </div>

                  <div class="border border-1 p-3">
                    <div class="d-flex pt-3">
                      <div class="col-8">
                        <div>
                          <p class="m-0">Do you have IELTS score?</p>
                        </div>
                        <div class="d-flex gap-3 p-3">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              No
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Appearing, Results awaited
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center align-item-center w-100">
                        <div class="dropdown w-100">
                          <button class="btn btn-secondary rounded-5 w-100 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Select
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="border border-1 p-3">
                    <div class="d-flex pt-3">
                      <div class="col-8">
                        <div>
                          <p class="m-0">Do you have GATE score?</p>
                        </div>
                        <div class="d-flex gap-3 p-3">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              No
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Appearing, Results awaited  
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center align-item-center col-4">
                        <input type="text" class="w-100 rounded-5 ps-3 border border-2 bg-light" placeholder="GATE" style="height: 45px;">
                      </div>
                    </div>
                  </div>

                  <div class="border border-1 p-3">
                    <div class="d-flex pt-3">
                      <div class="col-8">
                        <div>
                          <p class="m-0">Do you have JEE Advanced score?</p>
                        </div>
                        <div class="d-flex gap-3 p-3">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              No
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Appearing, Results awaited
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center align-item-center col-4">
                        <input type="text" class="w-100 rounded-5 ps-3 border border-2 bg-light" placeholder="JEE Advanced" style="height: 45px;">
                      </div>
                    </div>
                  </div>

                  <div class="border border-1 p-3">
                    <div class="d-flex pt-3">
                      <div class="col-8">
                        <div>
                          <p class="m-0">Do you have JEE Main score?</p>
                        </div>
                        <div class="d-flex gap-3 p-3">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              No
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Appearing, Results awaited
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center align-item-center col-4">
                        <input type="text" class="w-100 rounded-5 ps-3 border border-2 bg-light" placeholder="JEE Main" style="height: 45px;">
                      </div>
                    </div>
                  </div>

                  <div class="border border-1 p-3">
                    <div class="d-flex pt-3">
                      <div class="col-8">
                        <div>
                          <p class="m-0">Do you have NATA score?</p>
                        </div>
                        <div class="d-flex gap-3 p-3">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              No
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Appearing, Results awaited
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center align-item-center col-4">
                        <input type="text" class="w-100 rounded-5 ps-3 border border-2 bg-light" placeholder="NATA" style="height: 45px;">
                      </div>
                    </div>
                  </div>

                  <div class="border border-1 p-3">
                    <div class="d-flex pt-3">
                      <div class="col-8">
                        <div>
                          <p class="m-0">Do you have DAT Prelims score?</p>
                        </div>
                        <div class="d-flex gap-3 p-3">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              No
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Appearing, Results awaited
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center align-item-center col-4">
                        <input type="text" class="w-100 rounded-5 ps-3 border border-2 bg-light" placeholder="DAT Prelims" style="height: 45px;">
                      </div>
                    </div>
                  </div>

                  <div class="border border-1 p-3">
                    <div class="d-flex pt-3">
                      <div class="col-8">
                        <div>
                          <p class="m-0">Do you have DAT Mains score?</p>
                        </div>
                        <div class="d-flex gap-3 p-3">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              No
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Appearing, Results awaited
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center align-item-center col-4">
                        <input type="text" class="w-100 rounded-5 ps-3 border border-2 bg-light" placeholder="DAT Mains" style="height: 45px;">
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>

            <!-- Aditional Exam end -->


            <!-- Document Information start -->

            <div class="accordion-item border border-1">
              <h2 class="accordion-header bg-secondary" id="flush-headingThree">
                <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  DOCUMENT INFORMATION
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <label for="formFileDisabled" class="form-label">Photo</label>
                  <input class="form-control w-25" type="file" id="formFile" />
                  <label for="formFileDisabled" class="form-label">Passport Photo</label>
                  <input class="form-control w-25" type="file" id="formFile" />
                  <label for="formFileDisabled" class="form-label">Gov. Recognization Document</label>
                  <input class="form-control w-25" type="file" id="formFile" />
                  <div class="mt-3">
                    <button type="button" class="btn btn-primary">Upload</button>
                  </div>
                </div>
              </div>
              <div>
              </div>
            </div>

            <!-- Document Information end -->


          </div>

          <div class="mt-4">
            <button type="button" class="btn btn-success w-25">Submit</button>
          </div>
      </div>
    </section>

</Layout>
