---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Admin - Dashboard">
<div class="container">
  <div class="row">
    <div class="col">
      <small>Hello</small>
      <h1>Venkat</h1>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h2>Students</h2>
          <div class="d-flex justify-content-between align-items-center">
            <div class="p-4 bg-light w-100 mx-1">
              <p class="mb-0">12</p>
              <small>Total Students</small>
            </div>
            <div class="p-4 bg-light w-100 mx-1">
              <p class="mb-0">5</p>
              <small>Admitted</small>
            </div>
            <div class="p-4 bg-light w-100 mx-1">
              <p class="mb-0">41%</p>
              <small>Admission ratio</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h2>Applications</h2>
          <div class="d-flex justify-content-between align-items-center">
            <div class="p-4 bg-light w-100 mx-1">
              <p class="mb-0">12</p>
              <small>Total Submitted</small>
            </div>
            <div class="p-4 bg-light w-100 mx-1">
              <p class="mb-0">5</p>
              <small>Approved</small>
            </div>
            <div class="p-4 bg-light w-100 mx-1">
              <p class="mb-0">3</p>
              <small>Pending</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h2>Universities</h2>
          <div class="d-flex justify-content-between align-items-center">
            <div class="p-4 bg-light w-100 mx-1">
              <p class="mb-0">12</p>
              <small>Total Universities</small>
            </div>
            <div class="p-4 bg-light w-100 mx-1">
              <p class="mb-0">805</p>
              <small>Programs</small>
            </div>
            <div class="p-4 bg-light w-100 mx-1">
              <p class="mb-0">91</p>
              <small>Scholarships</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h2>Payouts</h2>
          <div class="d-flex justify-content-between align-items-center">
            <div class="p-4 bg-light w-100 mx-1">
              <p class="mb-0">12</p>
              <small>Total Submitted</small>
            </div>
            <div class="p-4 bg-light w-100 mx-1">
              <p class="mb-0">5</p>
              <small>Approved</small>
            </div>
            <div class="p-4 bg-light w-100 mx-1">
              <p class="mb-0">3</p>
              <small>Pending</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</Layout>
