---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="University - Profile">
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <h1>Andhra University</h1>
        <p>
          <span class="badge bg-dark">NAAC A</span>
          <span class="badge bg-dark">ISO 9001:2015</span>
        </p> 
      
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, et earum omnis ipsum odit, eveniet, esse reiciendis at nemo doloribus maiores provident adipisci quaerat minus sapiente voluptas! Dolorem, dicta suscipit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae deserunt cupiditate, ullam ut exercitationem perspiciatis, modi et adipisci laudantium eligendi voluptatum accusamus odit. Excepturi doloremque optio veniam illo. Provident, neque?
      </div>

      <div class="mt-5">
        <h3>Programs</h3>
        <div class="card mb-4">
          <div class="card-body">
            <h5>B.Tech + M.Tech Dual degres</h5>
            <small class="badge bg-warning">PG Program</small>
            <p>Program details. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ut amet neque ratione voluptatum, doloremque culpa nihil, labore a aut vel dolorem animi ipsa magni corporis quas. Nostrum, debitis commodi!</p>

            <div class="d-flex justify-content-between align-items-center">
              <div class="p-4 bg-light w-100 mx-1">
                <p class="mb-0">1 year</p>
                <small>Duration</small>
              </div>
              <div class="p-4 bg-light w-100 mx-1">
                <p class="mb-0">5,00,000</p>
                <small>Fee/Year</small>
              </div>
              <div class="p-4 bg-light w-100 mx-1">
                <p class="mb-0">32/60</p>
                <small>Seats Available</small>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <h5>B.Tech + M.Tech Dual degres</h5>
            <small class="badge bg-darkose">PhD Program</small>
            <p>Program details. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ut amet neque ratione voluptatum, doloremque culpa nihil, labore a aut vel dolorem animi ipsa magni corporis quas. Nostrum, debitis commodi!</p>

            <div class="d-flex justify-content-between align-items-center">
              <div class="p-4 bg-light w-100 mx-1">
                <p class="mb-0">1 year</p>
                <small>Duration</small>
              </div>
              <div class="p-4 bg-light w-100 mx-1">
                <p class="mb-0">5,00,000</p>
                <small>Fee/Year</small>
              </div>
              <div class="p-4 bg-light w-100 mx-1">
                <p class="mb-0">32/60</p>
                <small>Seats Available</small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5">
        <h3>Scholarships</h3>
        <div class="card mb-4">
          <div class="card-body">
            <h5>First Scholarship</h5>
            <p>Program details. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ut amet neque ratione voluptatum, doloremque culpa nihil, labore a aut vel dolorem animi ipsa magni corporis quas. Nostrum, debitis commodi!</p>

            <div class="d-flex justify-content-between align-items-center">
              <div class="p-4 bg-light w-100 mx-1">
                <p class="mb-0">Rs. 1,00,000</p>
                <small>Per year on tution fee</small>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <h5>Second Scholarship</h5>
            <p>Program details. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ut amet neque ratione voluptatum, doloremque culpa nihil, labore a aut vel dolorem animi ipsa magni corporis quas. Nostrum, debitis commodi!</p>

            <div class="d-flex justify-content-between align-items-center">
              <div class="p-4 bg-light w-100 mx-1">
                <p class="mb-0">Rs. 1,00,000</p>
                <small>Per year on tution fee</small>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</Layout>
